.map {
    height: 85%;
    width: 80%;
    border-radius: 10px;
}

#slider-container {
    height: 10%;
    width: 80%;
}

#big-earthquake-container {
    display: flex;
    width: 85%;
    padding-left: 5%;
}

#big-magnitude {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
}

#magnitude-value {
    font-size: 150px;
    color: inherit;
    margin-bottom: -20px;
}

#magnitude {
    font-size: 37px;
    color: inherit;
    padding-left: 7px;
}

#earthquakes-container {
    display: flex;
    flex-direction: column;
}

.earthquake-info {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5%;

    .location-description {
        flex-direction: 3;
        padding-right: 5%;

        .description {
            display: flex;
            align-items: start;
            justify-content: center;
    
            .text {
                flex-grow: 5;
                font-size: larger;
                text-align: justify;
            } 
        }

        .location {
            .name {
                font-size: xx-large;
                color: lightskyblue;
                margin-bottom: -15px;
            }
    
            .country-date {
                font-size: x-large;
            }
    
            display: flex;
            flex-direction: column;
        };
    }

    .img-box {
        margin-top: 5%;
        flex-grow: 1;
        .eq-img {
            border-radius: 10px;
            width: 100%;
        }
    }
    
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    align-items: center;
}

.page-container {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.page-title {
    color:white;
    font-size: x-large;
    font-weight: bold;
    text-transform: uppercase;
}

#globeViz {
    display: block;
    position: fixed;
    top: -5%;
    left: 82%;
    overflow:hidden;
    z-index: -9000;
}

#circle {
    background: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.legendColor {
    display: flex;
    flex-direction: row;
    align-items:center;
}

#color-legend-values {
    padding-left: 3%;
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.map-tiles {
    filter:var(--map-tiles-filter, none);
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    align-items: center;
}

#header-title {
    margin-top: 5%;
    margin-left: 2%;
    color:rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
}

#header-container {
    /* background-image: url(https://earth3dmap.com/wp-content/uploads/2018/08/earthquake-indonesia-java-sea.jpg); */
    background-image: url(https://earth.stanford.edu/sites/default/files/media/image/2021-06/Foreshock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    z-index: -9999;
}